<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.suke.czx.modules.aicar.mapper.CarfaultcodesMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.suke.czx.modules.aicar.entity.Carfaultcodes" id="CarfaultcodesMap">
        <result property="carfaultcode" column="carfaultcode"/>
        <result property="carfaultcodesid" column="carfaultcodesid"/>
        <result property="commentate" column="commentate"/>
    </resultMap>

</mapper>